name: FGD Build
on:
  push:
    branches: [ master, dev ]
    paths:
      - 'fgd/**'
  pull_request:
    branches: [ master, dev ]
    paths:
      - 'fgd/**'
  workflow_dispatch:
    # Allow triggering manually whenever it's useful.
jobs:
  build-fgds:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'
      - name: Install srctools
        run: python -m pip install -r requirements.txt
      - name: FGD build and folder copy
        run: bash ./build.sh all
      - name: Artifact upload
        uses: actions/upload-artifact@v2
        with:
          name: build-${{ github.sha }}
          path: ./build/*.fgd
          if-no-files-found: error
